<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <welcome-file-list>
        <welcome-file>WO1_HOME.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>LoginControl</servlet-name>
        <servlet-class>control.LoginControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginPanitaControl</servlet-name>
        <servlet-class>control.LoginPanitiaControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CobaServletAlergi</servlet-name>
        <servlet-class>control.CobaServletAlergi</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletViewAlergi</servlet-name>
        <servlet-class>control.ServletViewAlergi</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlergiControl</servlet-name>
        <servlet-class>control.AlergiControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>control.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PenyakitControl</servlet-name>
        <servlet-class>control.PenyakitControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmasiMahasiswaControl</servlet-name>
        <servlet-class>control.ConfirmasiMahasiswaControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LihatDaftarPesertaControl</servlet-name>
        <servlet-class>control.LihatDaftarPesertaControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DaftarLamaControl</servlet-name>
        <servlet-class>control.DaftarLamaControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cobaCetak</servlet-name>
        <servlet-class>control.cobaCetak</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Uploadcontrol</servlet-name>
        <servlet-class>control.Uploadcontrol</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffServlet</servlet-name>
        <servlet-class>control.StaffServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginControl</servlet-name>
        <url-pattern>/LoginControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginPanitaControl</servlet-name>
        <url-pattern>/LoginPanitaControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CobaServletAlergi</servlet-name>
        <url-pattern>/CobaServletAlergi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletViewAlergi</servlet-name>
        <url-pattern>/ServletViewAlergi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlergiControl</servlet-name>
        <url-pattern>/AlergiControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PenyakitControl</servlet-name>
        <url-pattern>/PenyakitControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmasiMahasiswaControl</servlet-name>
        <url-pattern>/ConfirmasiMahasiswaControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LihatDaftarPesertaControl</servlet-name>
        <url-pattern>/LihatDaftarPesertaControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DaftarLamaControl</servlet-name>
        <url-pattern>/DaftarLamaControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cobaCetak</servlet-name>
        <url-pattern>/cobaCetak</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Uploadcontrol</servlet-name>
        <url-pattern>/Uploadcontrol</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffServlet</servlet-name>
        <url-pattern>/StaffServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <context-param>
        <description>Location to store uploaded file</description>
        <param-name>file-upload</param-name>
        <param-value>
            C:\Program Files (x86)\Apache Software Foundation\Apache Tomcat 7.0.41\webapps\docs
        </param-value>
    </context-param>
</web-app>
